#TopNavBar{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    text-align: right;
    font-weight: 800 ;
    text-orientation: inline;
}

#hotline{
    margin-top: 2px;

}

.partner {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-left: 15px;
    

}

.brand_name{
    font-size: 30px;
    color: navy;
    font-weight: lighter;
    text-decoration: none;
}


.gsl_logo
{
    width: 30%;
    padding-top: 3px;
    padding-left: 38px;
    padding-bottom: 5px;
}

.motto{
    padding-left: 30px;
    font-size: 16px;
    color: #db2e56;
}


body {
    background-color:#ffbebe;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    color: black;
    
}

.ptl {
    background-color:#f2ddd8 ;

}

.ptl1 {
    background-color:#f2f2f2 ;

}

